h1 {
  text-align: center;
}
body {
  font-family: 'Courtier New', 'Courier New', Courier, monospace;
  
}
#board {
  background-color: skyblue;
  background-image: url(./;
}

#myHeader {
  background-color: navy;
}